@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@using System.Web.Optimization;

@{
    Layout = null;

    var alertMapping = new Dictionary<string, string>() {
        {"Success", "alert-success"},
        {"Information", "alert-info"},
        {"Warning", "alert-warning"},
        {"Error", "alert-danger"},
    };
    
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@Umbraco.Field("title", recursive: true)</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Styles.Render("~/bundles/bootstrap")
        @Styles.Render("~/bundles/bootstrap-theme")
        @Styles.Render("~/bundles/maincss")

        <script src="/scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/scripts/vendor/jquery-1.11.0.min.js"></script>
        <script src="/scripts/vendor/bootstrap.min.js"></script>
        
    </head>
                       <body>
                           <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
                           <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                               <div class="container">
                                   <div class="navbar-header">
                                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                           <span class="sr-only">Toggle navigation</span>
                                           <span class="icon-bar"></span>
                                           <span class="icon-bar"></span>
                                           <span class="icon-bar"></span>
                                       </button>
                                       <a class="navbar-brand" href="/">Example School</a>
                                   </div>
                                   <div class="collapse navbar-collapse">
                                       <ul class="nav navbar-nav">
                                           <li><a href="/contact-us">Contact Us</a></li>
                                           <li><a href="/news">News</a></li>
                                       </ul>
                                   </div>

                                   
                               </div>
                           </div>

                           <toaster-container></toaster-container>

                           @foreach (var message in alertMapping.Where(a => TempData.ContainsKey(a.Key)))
                           {
                               <div class="container">
                                   <div class="row">
                                       <div class="col-md-12">
                                           <div class="alert @message.Value alert-dismissible">
                                               <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                               @TempData[message.Key]
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           }
                           @RenderBody()


                           <div class="container">
                               <footer>
                                   <p>@Umbraco.Field("footerText", recursive: true)</p>
                               </footer>
                           </div> <!-- /container -->
                           <!--Third Party-->
                           @Html.RenderJsHere()
                           
                           
                       </body>
</html>